@font-face {
    font-family: 'robotoregular';
    src: url('./Font/roboto-regular-webfont.woff2') format('woff2'),
         url('./Font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'robotoregular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#content {
    width: 90vw;
    margin: auto;
}

#new-task-form-container,
#new-project-form-container {
    position: fixed;
    display: none;
    z-index: 1;
    width: 100%;
    margin: auto;
}

#new-project-form,
#new-task-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 25px;
    gap: 10px;
    background-color: whitesmoke;
    border: 5px solid slategray;
    border-radius: 8px;
    margin: auto;
}

.top-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#task-description {
    width: 200px;
}

.close-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 3px;
    width: 1.5rem;
    transition: .12s;
}

.close-form:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#submit-task {
    margin: auto;
}

#main-display {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    width: 100%;
    gap: 10px;
}

.task-headers-row,
.project-block-title {
    font-size: 24px;
    font-weight: bold;
    background-color: lightgray;
}

.task-node,
.task-headers-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
}

.task-node,
.task-headers-row,
.project-block-title,
.project-task-node {
    padding: 5px 10px;
    box-shadow: 4px 3px 3px gray;
}

.task-node,
.project-task-node {
    font-size: 18px;
}

.name-and-description {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.task-node-description {
    font-size: 12px;
}

.delete-task-button,
.change-status-button {
    font-weight: bold;
}

.project-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.project-task-node {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    width: 100%;
}
